/* navbar */
#navbar{
    background-color: #313131;
    color: white;
    padding: 1%;
    margin-bottom: 1%;

}
.nav-link{
    color: white;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    top: 10px;
} 
.nav-link:hover{
    color: #eda002;
}
.nav_image{
    height: 4%;
    width: 4%;
}

/* titulos */
.h1-tittles{
    text-align: center;
    color: white;
    
}


/* captura */
.div_captura1{
    border-right: solid 3px rgb(129, 129, 129);
    padding-right: 9%;
    display: inline-block;
    width: 40%;
    margin-left: 9%;    
    position: relative;
    bottom: 50px;
    
    
}
.div_captura2{
    display: inline-block;
    padding-right: 10%;
    width: 40%;
    margin-left: 8%;
}
.div_horario{
    margin-bottom: 1rem;
}
.div_revisiones{
    margin-bottom: 1rem;
}
.btn-outline-secondary{
    border: solid 1px #232323;
    color: #232323;
}
.btn_enviar{
    background-color: #009286;
    width: 100px;
    border: #026058;
    margin-left: 8%;
}
.btn_enviar:hover{
    background-color: #00655d;
}
.btn_captura{
    width: 100px;
    
}

.captura_background{
    background-color: #0db8aa;
}

.div-captura{
    background-color: #f3f3f3;
    padding: 3%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 1%;
    margin-top: 1%;
}


.sub-div-captura{
    border: solid 3px #0db8aa;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;

}

/* concentrado general */
.div-table{
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}